# User visible candlesticks functions
export(CSPDarkCloudCover)
export(CSPDoji)
export(CSPEngulfing)
export(CSPGap)
export(CSPHammer)
export(CSPHarami)
export(CSPInsideDay)
export(CSPInvertedHammer)
export(CSPKicking)
export(CSPLongCandle)
export(CSPLongCandleBody)
export(CSPNBlended)
export(CSPNHigherClose)
export(CSPNLongBlackCandleBodies)
export(CSPNLongWhiteCandleBodies)
export(CSPNLongBlackCandles)
export(CSPNLongWhiteCandles)
export(CSPNLowerClose)
export(CSPMarubozu)
export(CSPOutsideDay)
export(CSPPiercingPattern)
export(CSPShortCandle)
export(CSPShortCandleBody)
export(CSPStar)
export(CSPStomach)
export(CSPTasukiGap)
export(CSPThreeBlackCrows)
export(CSPThreeInside)
export(CSPThreeMethods)
export(CSPThreeOutside)
export(CSPThreeWhiteSoldiers)
# trend detection functions
export(TrendDetectionChannel)
export(TrendDetectionSMA)
# lag functions
export(LagOHLC)
export(LagOC)
# special functions
export(addPriceInfo)
export(CandleBodyLength)
export(CandleLength)
export(DonchianChannel2)
export(is.HL)
export(is.OC)
export(nextCandlePosition)
# candle average functions
export(OHLC_Average)
export(HLC_Average)
export(HL_Average)
